<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>AFD784AA-FED0-86AB-74F7-9B154482D667</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
